<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram Feed Widget by Sabuhi.com</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul class="images">
    <% for(var i=0; i < instaimages.length; i++) { %>
    <li>
        <a href="https://www.instagram.com/p/<%= instaimages[i].node.shortcode %>" target="_blank">
            <div class="square-box">
                <div class="square-content">
                    <div>
                        <img src="<%= instaimages[i].node.display_url %>" />
                    </div>
                </div>
            </div>
        </a>
    </li>
    <% } %>
</ul>
</body>
</html>