html{
  font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  &:hover, &:focus{
    outline: none !important;
  }
}
body{
  line-height: 1.7;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}