ul.images{
  padding: .5%;
  li{
    display: block;
    float: left;
    width: 32.3%;
    position: relative;
    padding: .5%;
    a{
      display: block;
      background: #fff;
      border: 2px solid #aaacac;
    }
  }
}

.square-box {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align:center;  // old ie
  font: 0/0 a;        // old ie

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    font: 0/0 a;
    vertical-align: middle;

    .old-ie & {
      display: inline-block;
    }
  }

  img {
    margin: 0 auto;
    //align-self: center;
    text-align: center;
    vertical-align: middle;

    &.horizontal {
      width: 100%;
    }

    &.vertical {
      height: 100%;
      margin: 0;
    }

    .old-ie & {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}