ul.images{
  padding: .5%;
  li{
    display: block;
    float: left;
    width: 32.3%;
    position: relative;
    padding: .5%;
  }
}

.square-content{
  div{
    display: block;
    background: #fff;
    border: 2px solid #aaacac;
    height: 590px;
    width: 600px;
    @media only screen and (max-width: 1835px) {
      height: 540px;
      width: 550px;
    }
    @media only screen and (max-width: 1685px) {
      height: 490px;
      width: 500px;
    }
    @media only screen and (max-width: 1530px) {
      height: 440px;
      width: 450px;
    }
    @media only screen and (max-width: 1375px) {
      height: 390px;
      width: 400px;
    }
    @media only screen and (max-width: 1220px) {
      height: 340px;
      width: 350px;
    }
    @media only screen and (max-width: 1075px) {
      height: 290px;
      width: 300px;
    }
    @media only screen and (max-width: 920px) {
      height: 240px;
      width: 250px;
    }
    @media only screen and (max-width: 770px) {
      height: 190px;
      width: 200px;
    }
    @media only screen and (max-width: 619px) {
      height: 140px;
      width: 150px;
    }
    @media only screen and (max-width: 479px) {
      height: 115px;
      width: 120px;
    }
    @media only screen and (max-width: 379px) {
      height: 100px;
      width: 100px;
    }
    @media only screen and (max-width: 319px) {
      height: 80px;
      width: 80px;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}